.windowBox {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  max-width: 50vw;
  color: #000;
  background-color: white;
  text-align: left;
  box-shadow: 0.1rem 0.1rem 0.5rem white;
  opacity: 0.75;
  margin: 1rem 0;
}

.title {
  opacity: 1;
  margin: 0.25rem;
}

.day {
  display: flex;
  color: red;
  justify-content: space-between;
}

.day > * {
  margin: 0.5rem;
}
.windowBox:hover {
  box-shadow: 0.1rem 0.1rem 0.5rem red;
  opacity: 1;
  transition: 1s;
}

.thumbnail {
  width: 100%;
  border-radius: 5%;
}
